body {
  font-family: Arial, sans-serif;
  background-color: #e0f7fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  justify-content: center;
}

main {
  border: 1px solid #333;
  text-align: center;
  padding: 0;
  margin: 0;
}

h1 {
  font-size: 3em;
  margin-bottom: 1rem 0 1rem 0;
  color: #ff5722;
}

.snake-container {
  position: relative;
  padding: 0;
  margin: 0;
  background-color: #ffc107;
  width: 500px;
  height: 500px;
  border-radius: 10px;
}

.color-cell,
.snake-segment {
  width: 10px;
  height: 10px;
  position: absolute;
  border: none;
}

.snake-segment {
  background-color: whitesmoke;
  border-radius: 2px;
}

.snake-segment:first-child {
  transform: scale(1.2);
}

#pause-alert {
  background-image: url('./assets/pause.png');
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  position: absolute;
  z-index: 20;
}

#score {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  color: #000;
  font-size: 2em;
  background-color: rgba(255, 193, 7, 0.8);
  padding: 10px 15px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

#high-scores {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  background-color: rgba(76, 175, 80, 0.8);
  padding: 10px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 200px;
}

#high-scores h3 {
  margin: 0;
  font-size: 1.5em;
  text-align: center;
}

#high-scores-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#high-scores-list li {
  padding: 5px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  text-align: center;
  color: #ffeb3b;
}
